
#services{
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

#context{
	margin-top: 50px;
	margin-left: 300px;
}

.separator{
	position: relative;
	height: 20px;
	width: 150px;
	left: calc(50% - 75px);
	margin-top: -30px;
}

.cercle{
	position: absolute;
	height: 15px;
	width: 15px;
	left: calc(50% - 10px);
	background-color: rgb(92,173,211);
	border: 5px white solid;
	border-radius: 50%;
	border-color: white;
}

.feature{
	border-bottom: 1px solid;
	border-color: rgb(166, 166, 166);
	padding-top: 12px;
}

#services h2{
	font-size: 2.5em;
	font-family: Roboto-Black;
}

#services p{
	max-width: 600px;
	min-width: 100px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

#SecondService{
	display: flex;
	justify-content: space-around;
}

#SecondService img{
	height: 100%;
}

#SecondService p{
	margin: 0;
	padding: 0;
	text-align: left;
}

#SecondService h1{
	text-align: left;
}

.Point{
	position: absolute;
	height: 15px;
	width: 15px;
	left: calc(50% - 10px);
	background-color: rgb(92,173,211);
	border: 5px white solid;
	border-radius: 50%;
	border-color: white;
	margin-top: -35px;
	margin-left: 30px;
}

.Rond{
	position: absolute;
	height: 70px;
	width: 70px;
	left: calc(50% - 10px);
	color: rgb(166, 166, 166);
	border: 1px solid;
	border-radius: 50%;
	top: -15px;
	left: -3px;
}

.graph{
	position: absolute;
	margin-left: -110px;
	height: 40px;
	width: 70px;
	margin-top: 30px;
}

.graph img{
	width: 40px;
}

#imgGraph{
	margin-right: -300px;
}


@media (max-width: 1150px){
	#SecondService{
		display: flex;
		flex-direction: column;
	}

	#imgGraph{
		width: 300px;
		margin: auto;
	}

	#context{
		margin-left: auto;
		width: 300px;
	}


}